@font-face {
  font-family: Fjalla One;
  src: url(../font/FjallaOne-Regular.ttf);
}

body {
  font-family: Fjalla One;
}

a:hover {
  text-decoration: none !important;
}

.navbar .navbar-brand {
  background-image: url("../img/logo/logo-2.png");
}

.general-container {
  margin-top: 20px;
  padding: 0 15%;
}

.btn-orange {
  background: #F0AC45;
  border-radius: 10px;
}

.btn-inner-stlye {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 50px;
}
