@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap');

html, body {
  height: 100%;
  min-width: 340px;
  margin:0 auto;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3d3d3d;
}

h1, h2, h3 {
  font-family: "Oswald", "sans-serif";
}

a:hover {
  text-decoration: none !important;
}

nav {
  font-family: "Montserrat";
}

.navbar .navbar-brand {
  background-image: url("../img/logo/logo-2.png");
}

.general-container {
  margin-top: 20px;
  padding: 0 15%;
}

.btn-orange {
  background: #F0AC45;
  border-radius: 10px;
}

.btn-coral {
  background-color: #00AEB3!important;
}

.btn-inner-stlye {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 50px;
}

.bkg-box {
  background: #F8F8F8;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.form-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.accordion__title {
  padding: 5px!important;
}

.faq-wrapper {
  margin: auto!important;
}

.content {
  flex: 1 0 auto;
}

.c-sliding-pagination__list {
  display: flex;
  flex-flow: row;
}

footer {
  flex-shrink: 0;
}

footer {
  background: #383838;
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/** media queries **/
@media screen and (max-width: 576px) {
  .general-container {
    padding: 0;
  }

}
