@font-face {
  font-family: Fjalla One;
  src: url(../font/FjallaOne-Regular.ttf);
}

html, body {
  height: 100%;
}

body {
  font-family: Fjalla One;
}

a:hover {
  text-decoration: none !important;
}

.navbar .navbar-brand {
  background-image: url("../img/logo/logo-2.png");
}

.general-container {
  margin-top: 20px;
  padding: 0 15%;
}

.btn-orange {
  background: #F0AC45;
  border-radius: 10px;
}

.btn-inner-stlye {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 9px 50px;
}

.form-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: inset -4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.accordion__title {
  padding: 5px!important;
}

.faq-wrapper {
  margin: auto!important;
}
